<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <!--    <link rel="stylesheet" href="../static/style.css">-->
    <meta charset="UTF-8">
    <title>Study+ - Cadastro de Alunos</title>
</head>
<body>
    <h1 class="headder"> STUDY+</h1><br/>
    <h2 class="func_form" >NOVO ALUNO:</h2>
    <form class="container_elements" action="#" method="post" th:object="${aluno}" th:action="@{/salvar}">
            
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
            <input placeholder="Nome" type="text" th:field="*{nome}" name="nome"/>    <br/>
            <p class="form" style="color: red" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
            </div>
            

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Escola</span>
                </div>
                <input placeholder="Escola" type="text" th:field="*{escola}" name="escola"/>   <br/>
                <p style="color: #ff0000" th:if="${#fields.hasErrors('escola')}" th:errors="*{escola}"></p>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Telefone</span>
                </div>
                <input placeholder="9XXXX - XXXX" type="tel" th:field="*{telefone}" name="telefone"/> <br/>
                <p style="color: red" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></p>
            </div>
        <button id="salvar" class="btn btn-outline-primary"  type="submit">Salvar</button>
    </form>
</body>
</html>