<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
<!--<link rel="stylesheet" href="../static/style.css">-->
<head>
    <meta charset="UTF-8">
    <title>Study+ - Editar cadastro aluno</title>
</head>
<body>
    <h1 class="headder"> STUDY+</h1><br/>
    <h2 class="func_form">Editar aluno:</h2>

    <div class="container">
        <form action="#" th:action="@{/salvar}" method="post" th:object="${aluno}">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">ID</span>
                </div>
                <input type="text" th:field="*{id}" readonly/>  <br/>
            </div>
             
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Nome</span>
                </div>
                <input type="text" th:field="*{nome}" name="nome"/>    <br/>
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Escola</span>
                </div>
                <input type="text" th:field="*{escola}" name="escola"/>   <br/>
                <p th:if="${#fields.hasErrors('escola')}" th:errors="*{escola}"></p>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Telefone</span>
                </div> 
                <input type="tel"  th:field="*{telefone}" name="telefone"/> <br/>
                <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></p>
            </div>
            
            <button id="salvar" class="btn btn-outline-primary"  type="submit">Salvar</button>
        </form>
    </div>


</body>
</html>